on: [push, pull_request]

jobs:
  test:
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install requirements
      run: python3 -m pip install -r requirements.txt
    - name: Run tests
      run: python3 -m pytest -vs
